<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weimi.weimichat">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".EBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        >

        <provider
            android:authorities="com.weimi.chat"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path"/>
        </provider>

        <activity android:name=".ui.main.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.main.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.ModifyPwdActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.WriteCodeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.CheckCodeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" android:screenOrientation="portrait"/>
        <activity android:name=".ui.notice.NoticeShowActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.personcenter.ShowUserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.personcenter.UpdateUserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.personcenter.UploadHeaderActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.chat.SelectFriendsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.chat.CreateGroupActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.chat.GroupListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.chat.GroupApplyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.chat.GroupDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.chat.UserDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.chat.SearchGroupMemberActivity" android:screenOrientation="portrait"/>
        <!--会话列表-->
        <activity
            android:name=".ui.chat.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.weimi.weimichat"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--聚合会话列表-->
        <activity
            android:name=".ui.chat.SubConversationListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.weimi.weimichat"
                    android:path="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--会话页面-->
        <activity
            android:name=".ui.chat.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.weimi.weimichat"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
    </application>

</manifest>